<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="贷款信息" />
<meta name="author" content="simon.yip" />

<title>贷款信息</title>
<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
<link href="/static/css/dashboard.css" rel="stylesheet" />
<script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
</head>

<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<ul class="nav nav-tabs">
					<li class="active"><a th:href="@{${'/index/q'}(page=0,size=10)}">首页</a></li>
					<li><a href="#">简介</a></li>
					<li class="disabled"><a href="#">信息</a></li>
					<li class="dropdown pull-right">
						<form class="form-inline" role="form" th:action="@{${'/index/serch'}">
							<div class="form-group">
								<label class="sr-only" for="exampleInputEmail2">公司名称</label> <input
									type="email" class="form-control" id="exampleInputEmail2"
									placeholder="根据公司名称搜索" />
							</div>
							<button type="submit" class="btn btn-default">搜索</button>
						</form>
						
						<ul class="dropdown-menu">
							<li><a href="#">操作</a></li>
							<li><a href="#">设置栏目</a></li>
							<li><a href="#">更多设置</a></li>
							<li class="divider"></li>
							<li><a href="#">分割线</a></li>
						</ul>
					</li>
				</ul>
				
				<div class="row clearfix">
					<div class="col-md-12 column">
					<br/>
						<table class="table">
							<thead>
								<tr>
									<th>编号</th>
									<th>产品</th>
									<th>交付时间</th>
									<th>状态</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user: ${result.content}" th:class="${userStat.even}? 'success' : ''">
									<td th:text="${userStat.index+1}"></td>
									<td th:text="${user.backPrincipal2015}"></td>
									<td th:text="${user.assetsTotal}"></td>
									<td th:text="${user.assetsTotal}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-12 column">
						<ul class="pagination">
							<li th:class="${result.first} ? 'disabled' : ''">
								<a th:if="${not result.first}" th:href="@{${'/index/q'}(page=${result.number-1},size=${result.size})}">上一页</a>
								<a th:if="${result.first}" href="javascript:void(0);">下一页</a>
							</li>
							<li th:each="pageNo:${#numbers.sequence(0,result.totalPages-1)}">
								<a th:href="@{${'/index/q'}(page=${pageNo},size=${result.size})}" th:text="${pageNo+1}" th:class="${result.number eq pageNo}? 'active' : ''"></a>
							</li>
							<li th:class="${result.last} ? 'disabled' : ''">
								<a th:if="${not result.last}" th:href="@{${'/index/q'}(page=${result.number+1},size=${result.size})}">下一页</a>
								<a th:if="${result.last}" href="javascript:void(0);">下一页</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
